<h1>Hello ({username})</h1>

<input type="text" [(ngMode)]"message"><br>
<button (click)="postfeed()"></button>

<hr>

<h1>Feeds:</h1>
<br><br>
<div *ngFor="let feed of feeds">
  username: {{ feed['username']}} <br>
  message: {{ feed['message']}}
  <br><br>
</div>
